<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Products</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>Products</h1>

        <p>
            <a href="/productsEdit" th:href="@{/productsEdit}">Add Product</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    
                    <th>ProductNumber</th>
                    <th>ProductName</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Category</th> 
                    <th>Transaction</th> 
                </tr>
            </thead>
                 
               				
               				
                                
            <tbody>
                <tr th:each="product : ${productsList}">
                    <td th:text="${product.productNumber}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.price}"></td>
                     <td th:text="${product.description}"></td>
                    <td th:text="${product.stock.quantity}"></td>
                    <td th:text="${product.category.categoryName}"></td>
                    
                    <td>
                        <a href="/productsEdit/1" th:href="@{/productsEdit/__${product.id}__}">Update</a>
                        <a href="/productsDelete/1" th:href="@{/productsDelete/__${product.id}__}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>