<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Products</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>Products</h1>

        <p>
            <a href="/productsEdit" th:href="@{/productsEdit}">Add Product</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ProductNumber</th>
                    <th>ProductName</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Category</th>  
                </tr>
            </thead>
                 
               				<!-- <td th:text="${flight.destination.city}"></td> -->
                                
            <tbody>
                <tr th:each="products : ${productsList}">
                    <td th:text="${products.productNumber}">1</td>
                    <td th:text="${products.productName}">Test</td>
                    <td th:text="${products.price}">Test</td>
                     <td th:text="${products.description}">1</td>
                    <td th:text="${products.stock.quantity}">Test</td>
                    <td th:text="${products.category.categoryName}">Test</td>
                    
                    <td>
                        <a href="/productsEdit/1" th:href="@{/productsEdit/__${products.id}__}">Update</a>
                        <a href="/productsDelete/1" th:href="@{/productsDelete/__${products.id}__}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>