<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.13/css/all.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: menu"></div>
    <form class="form-horizontal" th:object="${passwordObj}" role="form" method="POST" th:action="@{/resetpassword}">
        
        <div class="form-group row">
            <label for="password" class="col-sm-3 col-md-3 col-form-label">Password</label>
            <div class="col-sm-9 col-md-9">
                <input th:field="*{password}" type="password" class="form-control" id="password"/>
                <label th:if="${#fields.hasErrors('password')}" class="text-danger align-middle"  th:errors="*{password}"> 
            	</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="confirmPassword" class="col-sm-3 col-md-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9 col-md-9">
                <input th:field="*{confirmPassword}" type="password" class="form-control" id="password"/>
                <label th:if="${#fields.hasErrors('password')}" class="text-danger align-middle"  th:errors="*{password}"> 
            	</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 col-md-9">
                <input th:field="*{token}" type="hidden" class="form-control" id="password"/>
            </div>
        </div>
        
        <input type="submit" class="btn btn-default" value="reset"/>
    </form>
</div>
</body>
</html>