<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<div th:fragment="menu">
	<nav class="navbar navbar-default">
	<a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="btn btn-default" style="float:right;margin:7px;">Logout</a>
	<a th:href="@{/profile}" class="btn btn-default" style="float: right; margin: 7px;" sec:authorize="isAuthenticated() && !hasAuthority('ROLE_SUPER_ADMIN')">Profile</a>
	
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/" id="home">M-Store</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li id="login" class="active"><a href="/login">Login</a></li>
	      
	      <li id="allproducts" sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/products/allproducts">Product List</a></li>
	      
	      <li id="catalogs" sec:authorize="hasAuthority('ROLE_CUSTOMER')"><a class="nav-link" th:href="@{/customer/catalogs}">Catalogs</a></li> 
	      
	      <li id="shoppingCart"><a class="nav-link" th:href="@{/shoppingCart}">Shopping Cart</a></li>
		  
	      <li id="vendors" sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/approval/vendors">Vendor Management</a></li>
	      
	      <li id="reports" sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/reports">Reports</a></li>
	      
	      <li id="products" sec:authorize="hasAuthority('ROLE_VENDOR')"><a href="/products">Product List</a></li>
	       
	      <li id="admins" sec:authorize="hasAuthority('ROLE_SUPER_ADMIN')"><a href="/approval/admins">Manage Administrators</a></li>
	     
	    </ul>
	  </div>
	</nav>
</div>

<div th:fragment="menu-black">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/home" id="home">M-Store</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li id="login"><a href="/login">Login</a></li>
	      <li id="product"><a href="/user/products">Product Details</a></li>
	      <li id="shopping-cart" class="nav-item">
               <a class="nav-link" th:href="@{/user/shopping-cart}">Shopping Cart</a>
          </li>
       	  <li style="padding: 10px">	 	
			  <form class="form-inline">
			    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
			    <button style="background-color: orange;"; class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			  </form>
			
		  </li>	
       
	    </ul>
	  </div>
	</nav>
</div>
<br />
</body>
</html>