<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Stock</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
    <div class="container">
 
	    <h1 th:if="${errorMessage}" th:utext="${errorMessage}">Error java.lang.NullPointerException</h1>
	    <h1 th:if="!${errorMessage}">404</h1>
	    <a href="index.html" th:href="@{/home}">Back to Home Page</a>
	</div>

	<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>